matrix:
   include:
       - os: osx 
         osx_image: xcode8.3
         language: generic 
       - os: osx 
         osx_image: xcode9.3
         language: generic 
       - os: osx 
         osx_image: xcode10.3
         language: generic 
       - os: osx 
         osx_image: xcode11.3
         language: generic 
       - os: linux
         env: CONAN_COMPILER=gcc CONAN_COMPILER_VERSION=4.8
         dist: trusty
         sudo: required
         language: python
         python: "3.7"

install:
  - chmod +x .travis/install.sh
  - ./.travis/install.sh

script:
  - chmod +x .travis/run.sh
  - ./.travis/run.sh