build: false
image: Visual Studio 2017

environment:
  PYTHON: "C:\\Python37"
  PYTHON_VERSION: "3.7.5"
  PYTHON_ARCH: "32"

install:
  - set PATH=%PYTHON%/Scripts/;%PYTHON%;%PATH%
  - pip.exe install conan nose
  - conan install cmake_installer/3.16.4@ -g=virtualrunenv

test_script:
  - activate_run.bat
  - nosetests . -A "not cmake39"
  - deactivate_run.bat
  - nosetests . -A "cmake39"
